{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'studentforum/afterLogHome.css' %}" />
<html>
<head>
</head>
<body>
<div id="topForChange"><a href="{% url 'forlogout' %}">登出</a><a id="change" href="{% url 'forchange' %}">修改信息</a><a id="modify" href="{% url 'formodify' %}">修改密码</a></div>
<h1> 发帖列表 </h1>
  {% for post in posts %}
  <div>
    <h2><a href = "{% url 'forpostdetail' post.id %}">{{post.title}}</a></h2>
    <p><b>{{post.author}}</b>发帖于{{post.created_at}}</p>
  </div>
  {% endfor %}
  <hr>
  <form enctype="multipart/form-data" method="POST" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
  <button type="submit" class="save btn btn-default">发表帖子</button> 
  </form>
</body>
</html>