{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'studentforum/postDetail.css' %}" />
<html>
<head>
   <meta charset = "utf-8"/>
   <title>私信界面</title>
</head>
<body>
  <div id="topForBack"><a href="{% url 'test' %}">返回首页</a></div>
  <h1> 和{{user.user.username}}的对话 </h1>
  <hr>
  {% for letter in letters %}
  <div>
    <h4>{{letter.content}}</h4>
    <p><b>{{letter.userFrom}}</b>回复于{{letter.created_at}}</p>
  </div>
  {% endfor %}
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
	{{form.as_p}}
  <button type="submit" class="save btn btn-default">回复ta</button>
  </form>
</body>
</html>