{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'studentforum/postDetail.css' %}" />
<html>
<head>
   <meta charset = "utf-8"/>
   <title> 贴子详情 </title>
</head>
<body>
  <div id="topForBack"><a href="{% url 'test' %}">返回首页</a></div>
  <h1> {{post.title}} </h1>
  <p>{{post.content}}</p>
  <hr>
  {% for reply in replies %}
  <div>
    <h4>{{reply.content}}</h4>
    <p><b>{{reply.author}}</b>回复于{{reply.created_at}}</p>
  </div>
  {% endfor %}
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
	{{form.as_p}}
  <button type="submit" class="save btn btn-default">发表回复</button>
  </form>
</body>
</html>