{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'studentforum/register.css' %}" />
<html>
<body>
<form enctype="multipart/form-data" method="POST" class="post-form">
{% csrf_token %}
<div class= "center">
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
     <p><strong>{{ error|escape }}</strong></p>
{% endfor %}
{% endif %}
<div class="fieldWrapper">
    <label for="{{ form.username.id_for_label }}"> {{ form.username.label_tag }}</label>
    {{ form.username }}
	{% if form.username.errors %}
    {% for error in form.username.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<div class="fieldWrapper">
    <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
    {{ form.email }}
	{% if form.email.errors %}
    {% for error in form.email.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<div class="fieldWrapper">
    <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
    {{ form.password }}
	{% if form.password.errors %}
    {% for error in form.password.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<div class="fieldWrapper">
    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label_tag }}</label>
    {{ form.password2 }}
	{% if form.password2.errors %}
    {% for error in form.password2.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<div class="fieldWrapper">
    <label for="{{ form.portrait.id_for_label }}">{{ form.portrait.label_tag }}</label>
    {{ form.portrait }}
	{% if form.portrait.errors %}
    {% for error in form.portrait.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<div class="fieldWrapper">
    <label for="{{ form.intro.id_for_label }}">{{ form.intro.label_tag }}</label>
    {{ form.intro }}
	{% if form.intro.errors %}
    {% for error in form.intro.errors %}
        <p><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
</div>
<button type="submit" class="save btn btn-default">注册</button>
</div>
</form>
</body>
</html>