{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'studentforum/postDetail.css' %}" />
<html>
<head>
   <meta charset = "utf-8"/>
   <title> 回复详情 </title>
</head>
<body>
  <div id="topForBack"><a href="{% url 'test' %}">返回首页</a></div>
  
  <p>{{reply.content}}</p>
  <hr>
  {% for reprep in replytoreplies %}
  <div>
    <h4>{{reprep.content}}</h4>
      <p><b>{{reprep.author}}</b>回复于{{reprep.created_at}}</p>
      
  </div>
  {% endfor %}
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
	{{reprepform.as_p}}
  <button type="submit" class="save btn btn-default">发表回复</button>
  </form>
</body>
</html>