{% load staticfiles %}
{% load static %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>发贴记录</title>

                <link rel="shortcut icon" href="images/favicon.png" />


                

                <!-- Style Sheet-->
                 <link rel="stylesheet" href="style.css"/>
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'css/bootstrap5152.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'css/responsive5152.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href="{% static 'js/prettyphoto/prettyPhotoaeb9.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href="{% static 'css/main5152.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='green-skin-css'  href="{% static 'css/green-skin5152.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css'  href="{% static 'css/custom5152.html' %}" type='text/css' media='all' />


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <span class="tag-line">在线论坛</span>
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'fortopicindex' %}">所有话题</a></li>
                                                                <li><a href="{% url 'forcolumnindex' %}">全部专栏</a></li>
                                                                {% if request.user.is_authenticated %}
                                                                <li><a href="{% url 'forlogout' %}">登出</a></li>
                                                                <li><a href="{% url 'forchange' request.user.id %}">{{request.user}}的个人中心</a></li>
                                                                <li><a href="{% url 'formodify' %}">修改密码</a></li>
                                                                {% if request.user.myuser.manageType == 2 %}
                                                                <li><a href="{% url 'forcenter' %}">管理中心</a></li>
                                                                {% endif %}
                                                                {% else %}
                                                                <li><a href="{% url 'forlogin' %}">登录</a></li>
                                                                <li><a href="{% url 'forregister' %}">注册</a></li>
                                                                {% endif %}
                                                                <li><a href="{% url 'toHome' %}">返回主页</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">给你很多很好的评价</h3>

                                <!-- <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />
                                        <input class="search-btn" type="submit" value="Search" />
                                        <div id="search-error-container"></div>
                                </form> -->
                                <form action="/search/" method="get" id="search-form" class="search-form clearfix" action="#" autocomplete="off">
                                    <input type="text" name="q" class="search-term required">
                                    <input type="submit" value="Search" class="search-btn">
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <h3 class="title"><a href="{% url 'forchange' user.user.id %}">{{user.user}}的个人中心</a></h3>
                                        <div class="span8 page-content">
                                                <!-- Basic Home Page Template -->                                               
                                                <div class="row separator">
                                                        <section class="widget">
                                                        <h3 class="title">发贴记录</h3>
                                                        <ul>
                                                        {% for action in actions %}
                                                        {% if action.type1 == 0 %}
                                                        <li><a href="{% url 'forchange' user.user.id %}">{{user.user}}</a>&nbsp&nbsp&nbsp发布了贴子“<a href="{% url 'forpostdetail' action.forpost.id %}">{{action.forpost.title}}”</a></li>
                                                        {% endif %}
                                                        {% if action.type1 == 1 %}
                                                        <li><a href="{% url 'forchange' user.user.id %}">{{user.user}}</a>&nbsp&nbsp&nbsp发表了回复“<a href="{% url 'forpostdetail' action.forreply.PID.id %}">{{action.forreply.content}}”</a></li>
                                                        {% endif %}
                                                        {% if action.type1 == 2 %}
                                                        <li><a href="{% url 'forchange' user.user.id %}">{{user.user}}</a>&nbsp&nbsp&nbsp回复了楼层“<a href="{% url 'forpostdetail' action.forreplytoreply.PID.PID.id %}">{{action.forreplytoreply.content}}”</a></li>
                                                        {% endif %}
                                                        {% endfor %}
                                                        </ul>                                                 
                                                </div>
                                        </div>
                                        <aside class="span4 page-sidebar">
                                            </section>
                                                <section class="widget"><h3 class="title">用户活动</h3>
                                                <ul>
                                                <li><a href="{% url 'foractions' user.user.id %}" title="Lorem ipsum dolor sit amet,">发贴记录</a></li>
                                                <li><a href="{% url 'forcollects' user.user.id %}" title="Lorem ipsum dolor sit amet,">收藏条目</a></li>
                                                {% if user.user != request.user %}
                                                <li><a href="{% url 'forletter' user.user.id %}" title="Lorem ipsum dolor sit amet,">发送私信</a></li>
                                                {% else %}
                                                <li><a href="{% url 'forletterlist' %}" title="Lorem ipsum dolor sit amet,">私信记录</a></li>
                                                {% endif %}
                                                </ul>
                                            </section>
                                        </aside>                                       
                                        <!-- end of page content -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->

                <!-- Start of Footer -->
            <footer id="footer-wrapper">
                <div id="footer" class="container">
                    <div class="row">

                        <div class="span3">
                            <section class="widget">
                                <h3 class="title">开发团队</h3>
                                <div class="textwidget">
                                    <p>猜猜看，呵呵 </p>
                                </div>
                            </section>
                        </div>

                        <div class="span3">
                            <section class="widget">
                                <h3 class="title">郑重声明</h3>
                                <p>此论坛正在开发中，这只是一个DEMO</p>
                            </section>
                        </div>

                        <div class="span3">
                            <section class="widget">
                                <h3 class="title">联系方式</h3>
                                <div id="twitter_update_list">
                                    <ul>
                                        <li>哈哈哈</li>
                                    </ul>
                                </div>
                            </section>
                        </div>

                       

                    </div>
                </div>
                <!-- end of #footer -->
                <!-- Footer Bottom -->
                <div id="footer-bottom-wrapper">
                    <div id="footer-bottom" class="container">
                        <div class="row">
                            <div class="span6">
                                <p class="copyright">
                                    Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                                </p>
                            </div>
                            <div class="span6">
                                <!-- Social Navigation -->
                                <ul class="social-nav clearfix">
                                    <li class="linkedin"><a target="_blank" href="#"></a></li>
                                    <li class="stumble"><a target="_blank" href="#"></a></li>
                                    <li class="google"><a target="_blank" href="#"></a></li>
                                    <li class="deviantart"><a target="_blank" href="#"></a></li>
                                    <li class="flickr"><a target="_blank" href="#"></a></li>
                                    <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                    <li class="rss"><a target="_blank" href="#"></a></li>
                                    <li class="twitter"><a target="_blank" href="#"></a></li>
                                    <li class="facebook"><a target="_blank" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Footer Bottom -->

            </footer>

                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/jquery.easing.1.3.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/prettyphoto/jquery.prettyPhoto.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/jflickrfeed.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/jquery.liveSearch.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/jquery.form.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/jquery.validate.min.js' %}"></script>
                <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>

        <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>